@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

$intro-background: hsl(217, 28%, 15%);
$main-background: hsl(218, 28%, 13%);
$footer-background: hsl(216, 53%, 9%);
$testimonials-background: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

:root {
  font-size: 14px;
  font-family: "Open Sans", sans-serif; // body
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
h2,
h4 {
  font-family: "Raleway", sans-serif; // headers
}
h2 {
  font-size: 7vw;
  @media screen and (min-width: 30rem) {
    font-size: 2.8rem;
  }
  line-height: 150%;
}
.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: $white;
  background-color: $main-background;
  & > div {
    margin: 0 2.5% 10em;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(17rem, 95%, 90rem);
  margin: 3em 5%;
  @media screen and (min-width: 40rem) {
    margin: 5em 5%;
  }
  .logo {
    width: 25%;
    @media screen and (min-width: 25rem) {
      width: 10rem;
    }
    @media screen and (min-width: 35rem) {
      width: auto;
    }
  }
  nav.nav-links {
    display: flex;
    gap: 1em;
    @media screen and (min-width: 25rem) {
      gap: 2em;
    }
    @media screen and (min-width: 35rem) {
      gap: 4em;
    }
    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: rgba($color: $white, $alpha: 0.8);
      transition: all 0.3s ease-in-out;
      &:hover {
        text-decoration: underline;
        color: $white;
        font-weight: bold;
      }
    }
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: $intro-background url("/images/bg-curvy-desktop.svg") bottom no-repeat;
  background-size: contain;
  @media screen and (min-width: 200rem) {
    background-size: cover;
  }

}
.top {
  max-width: 60rem;
  text-align: center;
  img {
    margin-bottom: 3em;
  }
  h2 {
    margin-bottom: 1em;
  }
  p {
    font-size: 4.5vw;
    @media screen and (min-width: 30rem) {
      font-size: 1.3rem;
    }
    margin-bottom: 2em;
  }
}
.btn-link {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  padding: 1.2em 6em;
  border-radius: 2em;
  background: $blue;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    background: $cyan;
  }
}
img {
  max-width: 100%;
}

.cards-wrapper {
  max-width: 60rem;
  display: grid;
  gap: 6em;
  @media screen and (min-width: 40rem) {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    text-align: center;
    img {
      margin-bottom: 1.5em;
    }
    h4 {
      font-size: 1.5rem;
      margin-bottom: 0.5em;
    }
  }
}

.col-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100rem;
  @media screen and (min-width: 58rem) {
    flex-direction: row;
  }
  gap: 3em;
  & > * {
    flex-basis: 100%;
  }
  .left img {
    width: 100%;
  }
  .right {
    h2 {
      margin-bottom: 0.5em;
      line-height: 130%;
      @media screen and (min-width: 58rem) {
        width: 50%;
      }
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 0.7em;
    }
    .link-wrapper {
      width: max-content;
      display: flex;
      gap: 0.4em;
      padding: 0 0.2em 0.4em 0;
      border-bottom: 1px solid $cyan;
      transition: all 0.3s ease-in-out;
      .link {
        color: $cyan;
        position: relative;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        border-color: $white;
        .link {
          color: $white;
        }
      }
    }
  }
}

.comment-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4em;
  max-width: 100rem;
  &::after {
    content: url("/images/bg-quotes.png");
    position: absolute;
    top: -2.5em;
    left: 0;
  }
  .comment-card {
    position: relative;
    z-index: 3;
    flex-basis: 100%;
    max-width: 30rem;
    @media screen and (min-width: 40rem) {
      flex-basis: calc(50% - 4em);
    }
    @media screen and (min-width: 70rem) {
      flex-basis: calc(33.3333% - 4em);
    }
    padding: 3em 2.5em 2.5em;
    border-radius: 0.5em;
    background-color: $testimonials-background;
    box-shadow: 0 1em 0.8em rgba($color: $white, $alpha: 0.02),
                1em 0 0.8em rgba($color: $white, $alpha: 0.02);
    .text {
      font-size: 1.2rem;
      margin-bottom: 1.5em;
    }
    .comment-card-footer {
      display: flex;
      gap: 1em;
      img {
        width: 3em;
        height: 3em;
        border-radius: 50%;
      }
      .label {
        p:first-child {
          font-size: 1.1rem;
          font-weight: bold;
        }
        p:last-child {
          font-size: 0.9rem;
        }
      }
    }
  }
}
.get-access {
  background: $intro-background;
  padding: 4em;
  border-radius: 0.4em;
  text-align: center;
  box-shadow: 0.5em 0.5em 0.2em rgba($color: #000000, $alpha: 0.5);
  transform: translateY(50%);
  max-width: 60rem;
}

.footer-wrapper {
  padding-top: 10em;
  width: 100%;
  margin-bottom: 0;
  background: $footer-background;
}