@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
:root {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
h2,
h4 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 7vw;
  line-height: 150%;
}

@media screen and (min-width: 30rem) {
  h2 {
    font-size: 2.8rem;
  }
}

.container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  color: white;
  background-color: #181f2a;
}

.container-wrapper > div {
  margin: 0 2.5% 10em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: clamp(17rem, 95%, 90rem);
  margin: 3em 5%;
}

@media screen and (min-width: 40rem) {
  header {
    margin: 5em 5%;
  }
}

header .logo {
  width: 25%;
}

@media screen and (min-width: 25rem) {
  header .logo {
    width: 10rem;
  }
}

@media screen and (min-width: 35rem) {
  header .logo {
    width: auto;
  }
}

header nav.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

@media screen and (min-width: 25rem) {
  header nav.nav-links {
    gap: 2em;
  }
}

@media screen and (min-width: 35rem) {
  header nav.nav-links {
    gap: 4em;
  }
}

header nav.nav-links a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav.nav-links a:hover {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #1c2431 url("/images/bg-curvy-desktop.svg") bottom no-repeat;
  background-size: contain;
}

@media screen and (min-width: 200rem) {
  .container {
    background-size: cover;
  }
}

.top {
  max-width: 60rem;
  text-align: center;
}

.top img {
  margin-bottom: 3em;
}

.top h2 {
  margin-bottom: 1em;
}

.top p {
  font-size: 4.5vw;
  margin-bottom: 2em;
}

@media screen and (min-width: 30rem) {
  .top p {
    font-size: 1.3rem;
  }
}

.btn-link {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 1.2em 6em;
  border-radius: 2em;
  background: #339ecc;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-link:hover, .btn-link:focus {
  background: #65e2d9;
}

img {
  max-width: 100%;
}

.cards-wrapper {
  max-width: 60rem;
  display: -ms-grid;
  display: grid;
  gap: 6em;
}

@media screen and (min-width: 40rem) {
  .cards-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.cards-wrapper .card {
  text-align: center;
}

.cards-wrapper .card img {
  margin-bottom: 1.5em;
}

.cards-wrapper .card h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100rem;
  gap: 3em;
}

@media screen and (min-width: 58rem) {
  .col-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.col-2 > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.col-2 .left img {
  width: 100%;
}

.col-2 .right h2 {
  margin-bottom: 0.5em;
  line-height: 130%;
}

@media screen and (min-width: 58rem) {
  .col-2 .right h2 {
    width: 50%;
  }
}

.col-2 .right p {
  font-size: 1.2rem;
  margin-bottom: 0.7em;
}

.col-2 .right .link-wrapper {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4em;
  padding: 0 0.2em 0.4em 0;
  border-bottom: 1px solid #65e2d9;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.col-2 .right .link-wrapper .link {
  color: #65e2d9;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.col-2 .right .link-wrapper:hover {
  border-color: white;
}

.col-2 .right .link-wrapper:hover .link {
  color: white;
}

.comment-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4em;
  max-width: 100rem;
}

.comment-wrapper::after {
  content: url("/images/bg-quotes.png");
  position: absolute;
  top: -2.5em;
  left: 0;
}

.comment-wrapper .comment-card {
  position: relative;
  z-index: 3;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 30rem;
  padding: 3em 2.5em 2.5em;
  border-radius: 0.5em;
  background-color: #202a3c;
  -webkit-box-shadow: 0 1em 0.8em rgba(255, 255, 255, 0.02), 1em 0 0.8em rgba(255, 255, 255, 0.02);
          box-shadow: 0 1em 0.8em rgba(255, 255, 255, 0.02), 1em 0 0.8em rgba(255, 255, 255, 0.02);
}

@media screen and (min-width: 40rem) {
  .comment-wrapper .comment-card {
    -ms-flex-preferred-size: calc(50% - 4em);
        flex-basis: calc(50% - 4em);
  }
}

@media screen and (min-width: 70rem) {
  .comment-wrapper .comment-card {
    -ms-flex-preferred-size: calc(33.3333% - 4em);
        flex-basis: calc(33.3333% - 4em);
  }
}

.comment-wrapper .comment-card .text {
  font-size: 1.2rem;
  margin-bottom: 1.5em;
}

.comment-wrapper .comment-card .comment-card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.comment-wrapper .comment-card .comment-card-footer img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.comment-wrapper .comment-card .comment-card-footer .label p:first-child {
  font-size: 1.1rem;
  font-weight: bold;
}

.comment-wrapper .comment-card .comment-card-footer .label p:last-child {
  font-size: 0.9rem;
}

.get-access {
  background: #1c2431;
  padding: 4em;
  border-radius: 0.4em;
  text-align: center;
  -webkit-box-shadow: 0.5em 0.5em 0.2em rgba(0, 0, 0, 0.5);
          box-shadow: 0.5em 0.5em 0.2em rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  max-width: 60rem;
}

.footer-wrapper {
  padding-top: 10em;
  width: 100%;
  margin-bottom: 0;
  background: #0b1523;
}
/*# sourceMappingURL=main.css.map */