@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

$intro-background: hsl(217, 28%, 15%);
$main-background: hsl(218, 28%, 13%);
$footer-background: hsl(216, 53%, 9%);
$testimonials-background: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

:root {
  font-size: 14px;
  font-family: "Open Sans", sans-serif; // body
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
h2,
h4 {
  font-family: "Raleway", sans-serif; // headers
}
.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $main-background;
  color: $white;
  & > * {
    max-width: 100rem;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5em 0;
  width: 95%;
  .logo {
    width: 30%;
    @media screen and (min-width: 35rem) {
      width: auto;
    }
  }
  nav.nav-links {
    a {
      font-size: 1.2rem;
      text-decoration: none;
      margin: 0 2em;
      color: rgba($color: $white, $alpha: 0.8);
      transition: all 0.3s ease-in-out;
      &:hover {
        text-decoration: underline;
        color: $white;
        font-weight: bold;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .top {
    max-width: 60rem;
    text-align: center;
    img {
      margin-bottom: 3em;
    }
    h2 {
      font-size: 2.8rem;
      line-height: 150%;
      margin-bottom: 1em;
    }
    p {
      font-size: 1.3rem;
      margin-bottom: 2em;
    }
  }
  .btn-link {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    color: $white;
    text-decoration: none;
    padding: 1.2em 6em;
    border-radius: 2em;
    background: $blue;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:focus {
      background: $cyan;
    }
  }
}
img {
  max-width: 100%;
}

.cards-wrapper {
  max-width: 60rem;
  margin: 10em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6em;
  .card {
    text-align: center;
    img {
      margin-bottom: 1.5em;
    }
    h4 {
      font-size: 1.5rem;
      margin-bottom: 0.5em;
    }
  }
}
